/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* ------------------------- Fonts ------------------------------------ */

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'), url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'), url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Black.woff2') format('woff2'), url('../fonts/Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Medium.woff2') format('woff2'), url('../fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'), url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Black.woff2') format('woff2'), url('../fonts/Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'), url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Medium.woff2') format('woff2'), url('../fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Heebo';
    font-size: 16px;
    background-color: #EEEBE5;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Common CSS */

#heebo-main-app {
    position: relative;
}

.content-wrap {
    position: relative;
    min-height: 100vh;
}

.sidebar-header,
.sidebar-container {
    position: relative;
}


/* sidebar-common */

.heebo-bold-title {
    font-size: 26px;
    font-weight: bold;
    color: #131313;
}

.heebo-bold-medium {
    font-size: 14px;
    font-weight: bold;
    color: #fbfbfb;
}

h1 {
    font-size: 32px;
    color: #121212;
    font-weight: 900;
    text-transform: capitalize;
}


/* Custom Scroll Bar */


/* width */

 ::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background-color: #484848;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #FFC200;
    border-radius: 30px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #FFC200;
}


/* Custom CSS */


/*----------------Sidebar--------------------- */

.app-sidebar {
    float: left;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    width: 270px;
    overflow: auto;
    scroll-behavior: smooth;
}

.sidebar-header {
    padding: 30px 20px 30px 30px;
    position: relative;
}

.app-logo {
    display: inline-block;
}

.search-field {
    float: right;
    vertical-align: middle;
    margin-top: 4px;
}

.sidebar-user-profile {
    background-color: #323232;
    position: relative;
}

.profile-wrap {
    padding: 16px 20px 16px 30px;
}

.profile-picture {
    display: inline-block;
    vertical-align: middle;
}

.profile-picture img {
    vertical-align: middle;
}

.user-name-position {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.expand-more {
    position: absolute;
    right: 20px;
    top: 38px;
}

.user-name-position h6 {
    font-size: 12px;
    font-weight: bold;
    color: #9B9B9B;
    margin-top: 8px;
}

.sidebar-navigation {
    position: relative;
    padding-top: 20px;
}

.task-overview {
    display: flex;
    padding: 0 20px 30px 30px;
}

.task-overview h4 {
    font-size: 20px;
    margin-bottom: 8px;
}

.task-overview h6 {
    font-size: 12px;
    color: #9b9b9b;
}

.completed-tasks {
    margin-right: 20px;
}

.sidebar-menu {
    position: relative;
    margin-bottom: 30px;
}

.sidebar-menu h6 {
    font-size: 12px;
    color: #9b9b9b;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 30px;
    padding-bottom: 12px;
}

.sidebar-menu ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #fbfbfb;
    font-weight: bold;
    padding: 12px 0 13px 30px;
    display: inline-block;
    width: 100%;
    position: relative;
}

.menu-nav li a span {
    margin-left: 12px;
    background-color: #FFC200;
    padding: 2px 9px;
    border-radius: 48px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.menu-nav img {
    margin-right: 10px;
    vertical-align: middle;
}

.active {
    background-color: #242424;
    position: relative;
}

.sidebar-menu>ul>li.active>a:before,
.sidebar-menu>ul>li:hover>a:before {
    opacity: 1;
}

.sidebar-menu>ul>li>a::before {
    content: "";
    position: absolute;
    background-color: #FFC200;
    width: 5px;
    height: 44px;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.add-project-btn {
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    padding: 12px 0 12px 30px;
    color: #FFC200;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all ease-out;
}

.add-project-btn:hover {
    color: #ffd85b;
    font-size: 16px;
}

.sidebar-teams {
    margin-bottom: 200px;
}

.avatar-wrap {
    position: absolute;
    top: 33px;
    right: 20px;
}

.avatar-wrap img {
    margin-right: 5px;
}

.avatar-wrap-backend {
    position: absolute;
    top: 73px;
    right: 16px;
}

.avatar-wrap-frontend {
    position: absolute;
    top: 112px;
    right: 16px;
}

.invite-link {
    padding: 0 0 34px 30px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
}

.invite-link a {
    color: #FFC200;
}


/* Main Content */

.main-content {
    width: 100%;
    position: relative;
}

header {
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    left: 270px;
    right: 0;
}

.header-wrap {
    padding: 35px 30px 0 30px;
}

.header-top {
    margin-bottom: 20px;
    position: relative;
}

.title-row {
    display: inline-block;
    position: relative;
}

.task-title {
    display: flex;
    align-items: center;
    align-self: center;
    vertical-align: middle;
}

.task-title > img {
    margin-right: 16px;
}

.more-options img {
    vertical-align: middle;
    width: 100%;
}

.more-options {
    margin-left: 32px;
    background-color: #EAEAEA;
    padding: 8px;
    border-radius: 26px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s all ease-in-out;
}

.more-options:hover {
    opacity: 1;
}

.share-chat-row {
    float: right;
    position: relative;
    display: flex;
    align-items: center;
}

.people-column {
    margin-right: 24px;
    position: relative;
}

.people-column img {
    margin-left: 12px;
    vertical-align: middle;
}

.share-btn button {
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 13px 16px;
    border-radius: 80px;
    background-color: #EAEAEA;
    color: #000;
    text-transform: capitalize;
    margin-right: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.share-btn button:hover {
    background-color: #ffd447;
}

.chat-btn button {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ffc200;
    padding: 10px 16px;
    border-radius: 80px;
    background-color: #FFF8DD;
    color: #FFC200;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.chat-btn button:hover {
    background-color: #484848;
    border: 1px solid transparent;
}

.chat-btn button img {
    margin-right: 5px;
}


/*Bottom Header*/

.main-nav {
    position: relative;
}

.main-nav ul li {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid rgba(255, 194, 0, 0);
    transition: 0.2s ease-in-out;
}

.main-nav>ul>li.main-active,
.main-nav>ul>li:hover {
    border-bottom: 2px solid rgba(255, 194, 0, 1);
    color: #121212;
}

.main-nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #595959;
}


/* Project Section */

.project-activity {
    position: fixed;
    top: 126px;
    height: 100vh;
    width: auto;
    right: 0;
    left: 270px;
    overflow: auto;
}

.project-activity-wrap {
    padding: 30px;
    position: relative;
    height: 100vh;
    overflow: auto;
}

.activity-left {
    float: left;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 12px;
}

.activity-wrap-left {
    padding: 30px;
    position: relative;
}
.backlog-wrap > div:nth-child(3) {
    background-color: #FFF8DD;
}

.backlog-title {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.backlog-msg > img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.backlog-title h2 {
    font-size: 26px;
    font-weight: bold;
    color: #131313;
    letter-spacing: 0.4px;
    display: inline-block;
}

.backlog-title h2 {
    font-size: 26px;
    font-weight: bold;
    color: #131313;
    letter-spacing: 0.4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 179px;
}

.add-task-btn {
    border: none;
    color: #1D201C;
    background-color: #CEF9C6;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 18px 20px;
    border-radius: 80px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
.add-task-btn:hover {
    background-color: #9CEA8D;
}
.backlog-msg {
    position: relative;
    background-color: #F7F6F3;
    border-radius: 8px;
    margin-bottom: 10px;
}
.msg-row {
    display: inline-block;
    margin-left: 60px;
    padding: 20px 0;
}
.msg-row p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
}
.msg-row img {
    vertical-align: middle;
    margin-right: 10px;
}
.development a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #ED6400;
    text-transform: uppercase;
    background-color: #FFF1E2;
    padding: 2px 10px;
    border-radius: 80px;
}
.marketing a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 80px;
    background-color: #F5F0FF;
    color: #764CED;
}
.design a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px 10px;
    border-radius: 80px;
    background-color: #E3EFFF;
    color: #1975D0;
}
.todo-wrap {
    margin-top: 30px;
}

/* Activity Right */
.activity-right {
    float: left;
    background-color: #fff;
    border-radius: 8px;
    width: 864px;
}
.activity-wrap-right{
    padding: 30px;
    position: relative;
}
.customer-requests-top {
    position: relative;
}
.requests-title {
    display: flex;
    align-content: center;
    position: relative;
    margin-bottom: 32px;
    justify-content: space-between;
}
.requests-title h3 {
    font-size: 26px;
    font-weight: bold;
    color: #131313;
    line-height: 30px;
    margin-right: 132px;
}
.requests-title span {
    font-size: 16px;
    font-weight: normal;
    color: #131313;
}.more-buttons {
    display: inline-flex;
    align-items: baseline;
}
.more-buttons > img:first-child {
    margin-right: 20px;
}

/* Requests Details */
.requests-detail {
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
    display: block;
}
.requests-detail ul {
    display: flex;
    justify-content: space-between;
}
.requests-detail ul li {
    font-size: 16px;
    font-weight: bold;
    color: #131313;
    display: inline-block;
    margin-right: 40px;
}
.requests-detail ul li span {
    font-weight: 400;
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.asign img {
    vertical-align: bottom;
    margin-right: 5px;
}
.followers img {
    margin-right: 5px;
}
.followers img:last-child {
    cursor: pointer;
}
.requests-description {
    margin-top: 30px;
    position: relative;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
}
.requests-description h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 22px;
}
.requests-description > p {
    font-size: 16px;
    font-weight: 400;
    color: #131313;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}
.description-files {
    display: inline-flex;
    align-items: center;
}
.file-common {
    margin-right: 32px;
}
.file-common p {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    color: #131313;
    margin-left: 12px;
}
.file-common span {
    display: block;
    font-weight: 400;
    margin-top: 8px;
    color: #595959;
}
.delete-text-btn {
    border: transparent;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #FF1000;
    margin-left: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.delete-text-btn:hover {
    background-color: #ff100017;
    border-radius: 40px;
    padding: 2px 13px;
}

/* Discussion */
.discussion-bottom {
    margin-top: 30px;
    position: relative;
}
.discussion-bottom h3{
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
color: #131313;
margin-bottom: 22px;
}
.add-comment {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.comments li input {
    border: none;
    background-color: #EAEAEA;
    height: 40px;
    width: 100%;
    border-radius: 0 4px 4px 0px;
}
.comments li input[type="text"] {
    color: #7f7f7f;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
}
.comments li input[type="text"]:focus {
    outline: transparent;
}

/* Added Comment */
.added-comment {
    background-color: #F7F6F3;
    border-radius: 10px;
    position: relative;
    margin-left: 24px;
    margin-bottom: 20px;
    padding: 20px 20px 0 40px;
    height: 112px;
}
.added-comment img {
    position: absolute;
    top: 20px;
    left: -30px;
    box-shadow: 0 5px 6px #0000000a;
    border-radius: 80px;
}
.added-comment h6 {
    display: block;
    margin-bottom: 12px;
}
.added-comment h6 > span {
    float: right;
    font-size: 12px;
    color: #575656;
}
.added-comment p {
    font-size: 15px;
    color: #131313;
    line-height: 20px;
    margin-right: 40px;
}
.added-comment p > a {
    text-decoration: none;
    font-weight: bold;
    color: #FFC200;
}

/* threads-page */
.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}
.search-input input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #EAEAEA;
    margin-bottom: 30px;
    background-image: url(../icons/main-content/search-dark-icon.svg);
    background-repeat: no-repeat;
    background-position: 15px 12px;
    margin-left: 10px;
}
.search-input input[type="text"] {
    color: #7f7f7f;
    font-size: 14px;
    font-weight: bold;
    padding-left: 44px;
    transition: all 0.2s ease-in-out;
}
.category-common{
    margin-bottom: 30px;
}
.category-common h2 {
    font-size: 20px;
    font-weight: bold;
    color: #131313;
    text-transform: capitalize;
    margin-bottom: 12px;
}
.category-title {
    position: relative;
}
.category-msg {
    position: relative;
    background-color: #FFF8DD;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 12px;
}
.category-title h6 {
    font-weight: bold;
    color: #131313;
    margin-bottom: 16px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
}
.category-title span {
    font-size: 14px;
    font-weight: 400;
    color: #242424;
    position: absolute;
    right: 0;
    top: 5px;
}
.channel-members {
    display: inline-block;
    vertical-align: unset;
}

.category-msg p {
    font-size: 18px;
    font-weight: bold;
    color: #131313;
    line-height: 24px;
}
.msg-count {
    background-color: #FFC200;
    position: absolute;
    top: -9px;
    right: -12px;
    padding: 8px 10px;
    border-radius: 80px;
    font-weight: bold;
}
/* Direct Messages */

.user-dm-img {
    display: inline-block;
    vertical-align: super;
}
.msg-custom-background {
    background-color: #F7F6F3;
}

/* Other Right */
.custom-margin ul {
    margin-top: 10px;
}
hr {
    border: 0.5px solid #ececec;
}
.custom-title-center h3 {
    text-align: center;
}
.custom-margin-bottom > li {
    margin-bottom: 226px;
}
.add-icon-btn {
    padding: 13px 12px;
    height: 40px;
    background-color: #E0E0E0;
    border-radius: 4px 0px 0px 4px;
    transition: background-color 150ms ease-in-out;
}
.add-icon-btn:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}