/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* ------------------------- Fonts ------------------------------------ */
@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'),
        url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'),
        url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Black.woff2') format('woff2'),
        url('../fonts/Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Medium.woff2') format('woff2'),
        url('../fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'),
        url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Black.woff2') format('woff2'),
        url('../fonts/Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'),
        url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Medium.woff2') format('woff2'),
        url('../fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    background-color: #EEEBE5;
    overflow-x: hidden;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Common CSS */

#heebo-main-app {
    position: relative;
}
.content-wrap {
    position: relative;
    min-height: 100vh;
}
.sidebar-header,.sidebar-container {
    position: relative;
}
/* sidebar-common */
.heebo-bold-title{
    font-size: 26px;
    font-weight: bold;
    color: #131313;
}
.heebo-bold-medium{
    font-size: 14px;
    font-weight: bold;
    color: #fbfbfb;
}
h1 {
    font-size: 32px;
    color: #121212;
    font-weight: 900;
    text-transform: capitalize;
}
/* Custom Scroll Bar */

     /* width */
     ::-webkit-scrollbar {
        width: 8px;
    }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background-color: #484848;
    }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #FFC200;
        border-radius: 30px;
    }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background:#FFC200 ; 
    }



/* Custom CSS */

/*----------------Sidebar--------------------- */

.app-sidebar {
    float: left;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    width: 270px;
    overflow: auto;
    scroll-behavior: smooth;
}
.sidebar-header {
    padding: 30px 20px 30px 30px;
    position: relative;
}
.app-logo {
    display: inline-block;
}
.search-field {
    float: right;
    vertical-align: middle;
    margin-top: 4px;
}
.sidebar-user-profile {
    background-color: #323232;
    position: relative;
}
.profile-wrap {
    padding: 16px 20px 16px 30px;
}
.profile-picture {
    display: inline-block;
    vertical-align: middle;
}
.profile-picture img {
    vertical-align: middle;
}
.user-name-position {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.expand-more {
    position: absolute;
    right: 20px;
    top: 38px;
}
.user-name-position h6 {
    font-size: 12px;
    font-weight: bold;
    color: #9B9B9B;
    margin-top: 8px;
}
.sidebar-navigation {
    position: relative;
    padding-top: 20px;
}
.task-overview {
    display: flex;
    padding: 0 20px 30px 30px;
}
.task-overview h4 {
    font-size: 20px;
    margin-bottom: 8px;
}
.task-overview h6 {
    font-size: 12px;
    color: #9b9b9b;
}
.completed-tasks {
    margin-right: 20px;
}
.sidebar-menu {
    position: relative;
    margin-bottom: 30px;
}
.sidebar-menu h6 {
    font-size: 12px;
    color: #9b9b9b;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 30px;
    padding-bottom: 12px;
}
.sidebar-menu ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #fbfbfb;
    font-weight: bold;
    padding: 12px 0 13px 30px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.menu-nav li a span {
    margin-left: 12px;
    background-color: #FFC200;
    padding: 2px 9px;
    border-radius: 48px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.menu-nav img {
    margin-right: 10px;
    vertical-align: middle;
}
.active {
    background-color: #242424;
    position: relative;
}
.sidebar-menu > ul > li.active > a:before, .sidebar-menu > ul > li:hover > a:before  {
    opacity: 1;
}
.sidebar-menu > ul > li > a::before {
    content: "";
    position: absolute;
    background-color: #FFC200;
    width: 5px;
    height: 44px;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}
.add-project-btn {
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    padding: 12px 0 12px 30px;
    color: #FFC200;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all ease-out;
}
.add-project-btn:hover {
    color: #ffd85b;
    font-size: 16px;
}
.sidebar-teams {
    margin-bottom: 200px;
}
.avatar-wrap {
    position: absolute;
    top: 33px;
    right: 20px;
}
.avatar-wrap img {
    margin-right: 5px;
}
.avatar-wrap-backend {
    position: absolute;
    top: 73px;
    right: 16px;
}
.avatar-wrap-frontend {
    position: absolute;
    top: 112px;
    right: 16px;
}
.invite-link {
    padding: 0 0 34px 30px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
}
.invite-link a {
    color: #FFC200;
}

/* Main Content */
header {
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    left: 270px;
    right: 0;
}
.header-wrap {
    padding: 35px 30px 0 30px;
}
.header-top {
    margin-bottom: 20px;
    position: relative;
}
.title-row {
    display: inline-block;
    position: relative;
}
.task-title {
    display: flex;
    align-items: center;
    align-self: center;
    vertical-align: middle;
}
.task-title > #website-title-icon {
    margin-right: 16px;
}
.more-options img {
    vertical-align: middle;
    width: 100%;
}
.more-options {
    margin-left: 32px;
    background-color: #EAEAEA;
    padding: 8px;
    border-radius: 26px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s all ease-in-out;
}
.more-options:hover {
    opacity: 1;
}
.share-chat-row {
    float: right;
    position: relative;
    display: flex;
    align-items: center;
}
.people-column {
    margin-right: 24px;
    position: relative;

}
.people-column img {
    margin-left: 12px;
    vertical-align: middle;
}
.share-btn button {
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 13px 16px;
    border-radius: 80px;
    background-color: #EAEAEA;
    color: #000;
    text-transform: capitalize;
    margin-right: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.share-btn button:hover {
    background-color: #ffd447;
}
.chat-btn button {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ffc200;
    padding: 10px 16px;
    border-radius: 80px;
    background-color: #FFF8DD;
    color: #FFC200;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.chat-btn button:hover {
    background-color: #484848;
    border: 1px solid transparent;
}
.chat-btn button img {
    margin-right: 5px;
}

/*Bottom Header*/

.main-nav {
    position: relative;
}
.main-nav ul li {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
    padding-bottom: 10px;
    position: relative;
}
.main-nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #595959;
    border-bottom: #FFC200;
}
