/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* ------------------------- Fonts ------------------------------------ */
@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'),
        url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'),
        url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Black.woff2') format('woff2'),
        url('../fonts/Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Medium.woff2') format('woff2'),
        url('../fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'),
        url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Black.woff2') format('woff2'),
        url('../fonts/Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'),
        url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Medium.woff2') format('woff2'),
        url('../fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Heebo';
    font-size: 16px;
    background-color: #EEEBE5;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Common CSS */

#heebo-main-app {
    position: relative;
}
.content-wrap {
    position: relative;
    min-height: 100vh;
}
.sidebar-header,.sidebar-container {
    position: relative;
}
/* sidebar-common */
.heebo-bold-title{
    font-size: 26px;
    font-weight: bold;
    color: #131313;
}
.heebo-bold-medium{
    font-size: 14px;
    font-weight: bold;
    color: #fbfbfb;
}
h6{
    font-size: 12px;
    font-weight: bold;
    color: #878787;
}




/* Custom CSS */

/*----------------Sidebar--------------------- */

.app-sidebar {
    float: left;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    width: 270px;
}
.sidebar-header {
    padding: 30px 20px 30px 30px;
}
.app-logo {
    display: inline-block;
}
.search-field {
    float: right;
    vertical-align: middle;
    margin-top: 4px;
}
